# Python caches and compiled files
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv
*.venv
env
*.env

# IDE and editor directories
.idea
.vscode

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
