.App {
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust if you want vertical alignment */
  padding: 20px;
}

.grid-wrapper {
  margin: 0 10px; /* Adds some space between the grids */
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: start;
  /* Other styling as needed */
}